*,
*::before,
*::after {
  font-family: 'Barlow', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #2A4A5C;
}

body {
  margin: 0px;
  background-color: #EFF6FF;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

h1,
h2 {
  color: #2A4A5C;
  font-size: 25px
}

label {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  display: inline;
}

.wrapper {
  padding: 50px 40px 50px 40px;
  width: 1440px;
  margin: 0 auto;
}

/* left side */

.left-side {
  float: left;
  position: relative;
}

.left-side__logo {
  position: absolute;
  left: 60px;
  top: 30px;
  width: 120px;
  height: 80px;
}

/* right side */

.right-side {
  background-color: white;
  width: 600px;
  height: 1000px;
  padding: 0px 0px 90px 0px;
  float: right;
}

.wrapper__right_side {

  float: inline-end;
  background-color: white;

}

.right-side__header {
  margin-top: 100px;
  margin-left: 50px;
}

.right-side__title {
  margin-bottom: 15px;
}


.right-side__text {
  color: #7B8A92;
}

/* form registration */

.registration {
  margin-top: 50px;
}

.registration__facebook {
  color: #ededed;
  padding: 8px 45px 8px 10px;
  background-color: #255A9B;
  border: none;
  font-size: 12px;
  text-align: center;
  margin-left: 50px;
  margin-right: 20px;
}

.registration__facebook:hover {
  box-shadow: 5px 5px 10px rgba(60, 134, 203, 0.5);
  cursor: pointer;
}

.registration__facebook:active {
  box-shadow: none;
}

.registration__linkedin {
  color: #EEEEEE;
  padding: 8px 45px 8px 10px;
  background-color: #0076B6;
  border: none;
  font-size: 12px;
  text-align: center;
  margin-right: 50px;
}

.registration__linkedin:hover {
  box-shadow: 5px 5px 10px rgba(60, 134, 203, 0.5);
  cursor: pointer;
}

.registration__linkedin:active {
  box-shadow: none;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}



.div_line {
  margin: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #7B8A92;
}

.line {
  height: 1px;
  width: 100px;
  background-color: #EEEEEE;
}

.line2 {
  margin-right: 50px;
}

.formEmailPhone {
  color: #AFAFAF;
}

label[for="email"] {
  position: relative;
  left: 55px;
  bottom: 13px;
  font-size: 12px;
}

label[for="phone"] {
  position: relative;
  left: 28px;
  bottom: 13px;
  font-size: 12px;
}

#email {
  width: 210px;
  height: 55px;
  border: 2px solid #eeeeee;
  margin-left: 17px;
  font-family: 'Barlow', sans-serif;
  color: #2A4A5C;
}

#email:hover {
  border-left: 2px solid #3698FB;
}

#phone {
  width: 210px;
  height: 55px;
  border: 2px solid #EEEEEE;
  margin-left: -15px;
}

#phone:hover {
  border-left: 2px solid #3698FB;

}

/* question */

.choice__question {
  margin-top: 50px;
  margin-left: 50px;
}

.choice__text {
  margin-left: 50px;
  margin-top: 11px;
}

/* options */

.choice__options_investor {
  margin-top: 50px;
  margin-left: 50px;
}

.choice__options_investor>label {
  margin-right: 50px;
}

.additional_information1 {
  font-size: 13px;
  height: 70px;
  width: 250px;
  margin: 40px 0px 30px 0px;
  padding: 10px 10px 10px 10px;
  color: #AFAFAf;
  box-shadow: 0px 0px 10px rgba(171, 171, 171, 0.5);
  visibility: hidden;
  position: absolute;
}


.info {
  display: inline;
  border-radius: 50%;
  color: #AFAFAF;
  border: 1px solid #AFAFAF;
  padding: 1.5px 5px 1.5px 5px;
  font-size: 8px;
  margin-left: 2px;
  cursor: pointer;
}

.info:hover+.additional_information1 {
  visibility: visible;
}

input[type="checkbox"] {
  margin-top: 150px;
  color: #AFAFAf;
}

.agree-and-button__text {
  color: #AFAFAF;
  font-size: 14px;
}

a {
  color: #3698FB;
  text-decoration: underline;
}

.agree-and-button {
  margin-left: 50px;
}

.button-create-acc {
  color: white;
  margin-top: 50px;
  padding: 10px 60px 10px 60px;
  background-color: #3698FB;
  border: none;
  border-radius: 5px;
}

.button-create-acc:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button-create-acc:active {
  box-shadow: none;
}